/* Custom CSS for wriggling effect */
@keyframes wriggle {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.animated-line-wrapper {
  position: relative;
  overflow: hidden; /* Ensures wriggling effect stays within bounds */
}

.animated-line {
  position: relative;
  background: #00272c;
  height: 4px;
  border-radius: 2px;
}

.animated-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    transparent,
    #e5fd34,
    transparent
  ); /* Wriggling line color */
  background-size: 200% 200%;
  animation: wriggle 3s linear infinite;
}
